:root {
    --lightBlue: #8ecae6;
    --darkBlue: #044464;
    --yellow: #ffb703;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {    
    height: 100vh;
}

.container-fluid {
    background-color: var(--yellow);
    max-width: 100%;
    height: auto;
    width: auto;
    background-size: cover;
}

.fiveDays {
    color:var(--darkBlue);
    font-size: 13px;
}


button {
    border-radius: 10px;
    background-color: #D6B68C;
    margin: 5px;
}

img {
    max-width: 60%;
    height: auto;
}
